.landing-page {
   background-image:linear-gradient(to bottom right, rgba(93, 174, 255, 0.315), rgba(255, 29, 146, 0.205));
}

.main-header {
   height: 15vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.main-header span {
   color:dodgerblue;
}

.search-container {
   height: 25vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}

.search-container input {
   border:none;
   height: 20%;
   width: 80%;
   border-radius: 5px;
   text-align: center;
   border: 1px solid rgb(219, 219, 219);
   box-shadow: 2px 4px 4px rgb(98, 122, 168);
}

.search-results {
   overflow-y: scroll;
   height: 75vh;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.car-comp {
   width: 90%;
   margin: 10px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   box-shadow: 2px 4px 4px rgb(98, 122, 168);
   display: flex;
   align-items: center;
   height: 120px;
   text-decoration: none;
   color: black;
}
.car-comp div {
   width: 50%;
}

.car-comp-img {
   height: 100%;
   overflow: hidden;
}

.car-comp-img img {
   height: 100%;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.car-comp-text {
   text-align: center;
}

.sort-options {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   align-items: center;
}

.sort-options button {
   background-color: white;
   border: 1px solid white;
   border-radius: 5px;
   width: 50px;
   height: 20px;
   box-shadow: 1px 2px 2px rgb(98, 122, 168);
   transition: 1s;
}



