.nav {
   display: flex;
   height: 5vh;
   background-color: rgb(194, 194, 194);
   justify-content: space-evenly;
   align-items: center;
}

.nav-link {
   height: 80%;
   width: 30%;
   background-color: rgb(56, 105, 170);
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color:white;
   border-radius: 5px;
   border: none;
}

